

body {
	background-color : #333333;
	color: #eeeeee;
 }
/* Links on the page */
A:link {
 COLOR: #F0E68C /*The color of the link*/
}
A:visited {
 COLOR: #FFFACD /*The color of the visited link*/
}
A:hover {
 COLOR: green /*The color of the mouseover or 'hover' link*/
}


/* Container for page */ 
#container { 
	padding: 0; 
	width: 400px; 
	margin: 0 auto; 
	/*background-color : #333333;*/	
	font-family: sans-serif;
	font-size: larger 	
	}

/* Standard paragraph style  
blockquote { font-weight: bold; font-size: 1.1em; line-height: 1.5em; }
*/

